// Color variables
$color-primary: #000;
$color-grey: #444;
$color-dark-grey: #292929;
$color-pink: #ff1476;
$color-white: #f4f4f4;
$color-whiter: #fff;
$color-blue: #179dcb;

// Font Variables
$font-primary: 'Inter', sans-serif;
$font-cursive: 'Dancing Script', cursive;

// Other Fonts

