// Color variables
$color-primary: #000;
$color-grey: #444;
$color-dark-grey: #292929;
$color-pink: #ff1476;
$color-light-pink: #ffb6c1;
$color-white: #f4f4f4;
$color-whiter: #fff;
$color-blue: #179dcb;

// Font Variables
$font-primary: 'Inter', sans-serif;
$font-cursive: 'Dancing Script', cursive;

// Other Fonts

// Utilities
.spacer-50 {
  height: 50px;
}
.spacer-75 {
  height: 75px;
}
.spacer-100 {
  height: 100px;
}
.spacer-150 {
  height: 150px;
}

.spacer-200 {
  height: 200px;
}

.spacer-200 {
  height: 200px;
}

.spacer-250 {
  height: 250px;
}
