// Universal reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: calc(
    21px + (30 - 21) * ((100vw - 768px) / (1600 - 768))
  ); //setting base font size fluidly
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: $color-primary;
  position: relative;
  z-index: -1;
}

p {
  line-height: 1.6;
}

img:not(.navigation__image) {
  width: 100%;
  display: block;
}

h1 {
  font-size: 3em; //em value will change fluidly as base font size changes
}

h2 {
  font-size: 2.3em;
  font-family: 'Dancing Script', cursive;
}

p {
  font-size: 0.7em;
}

a {
  font-size: 0.6em;
  text-decoration: none;
}

// Fluid font size min and max
@media screen and (max-width: 768px) {
  body {
    font-size: 21px;
  }
}
@media screen and (min-width: 1600px) {
  body {
    font-size: 30px;
  }
}
