// .container2 {
//   width: 80%;
//   margin: 2rem auto;
// }

// .hero2 {
//   height: 100vh;
//   background: url(../../img/lime-compressed.jpg) no-repeat center center/cover;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 0 10vw;
//   color: #fff;
//   h1 {
//     position: relative;
//     text-transform: uppercase;
//     text-align: center;
//     background: rgba(0, 0, 0, 0.2);
//     padding: 2rem;
//     border-radius: 20px 0;
//     &::before,
//     &::after {
//       content: '';
//       position: absolute;
//       top: 0;
//       height: 100%;
//       width: 50%;
//     }
//     &::before {
//       left: 0;
//       border-bottom: 6px solid #000;
//     }
//     &::after {
//       right: 0;
//       border-top: 6px solid #000;
//     }
//   }
// }

#logo-font {
  font-family: font-logo;
  font-size: 3rem;
}

.main-header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  //align-items: center;
  height: 65px;
  width: 100vw;
  padding: 10px 3vw 0px 3vw;
  color: $color-white;
  z-index: 1;
  transition: 0.4s ease-out;
  a {
    text-decoration: none;
    list-style: none;
    color: $color-white;
    font-size: 1.1rem;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }
  .nav-links {
    display: flex;
    list-style: none;
    .nav-link {
      transition: all .2s ease-in-out;
        // transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      // &:nth-of-type(2) {
      //   transition-delay: 0.1s;
      // }
      // &:nth-of-type(3) {
      //   transition-delay: 0.2s;
      // }
      // &:nth-of-type(4) {
      //   transition-delay: 0.3s;
      // }
      // &:nth-of-type(5) {
      //   transition-delay: 0.4s;
      // }
      a {
        margin: 0.2rem;
        padding: 1rem 0.5rem;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .menu-icon {
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 1;
    display: none;
    &__line {
      display: block;
      position: relative;
      background: $color-white;
      height: 2px;
      width: 20px;
      border-radius: 4px;
      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background: $color-white;
        transition: background 0.8s ease;
      }
      &::before {
        transform: translateY(-5px);
      }
      &::after {
        transform: translateY(5px);
      }
    }
  }
  .menu-btn {
    position: absolute;
    top: -100px;
    &:focus ~ .menu-icon {
      .menu-icon__line {
        &::before {
          transform: translateY(-7px);
        }
        &::after {
          transform: translateY(7px);
        }
      }
    }
  }
  &.scrolled {
    // this creates the background upon a scroll
    height: 50px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    .menu-icon {
      &__line,
      &__line::before,
      &__line::after {
        background: #fff;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .main-header {
    .menu-icon {
      display: block;

      &__line {
        animation: closedMid 0.8s backwards;
        animation-direction: reverse;

        &::before {
          animation: closedTop 0.8s backwards;
          animation-direction: reverse;
        }
        &::after {
          animation: closedBtm 0.8s backwards;
          animation-direction: reverse;
        }
      }
    }
    .nav-links {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 10rem 0;
      width: 100vw;
      height: 100vh;
      font-size: 2rem;
      background: $color-dark-grey;
      transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
      clip-path: circle(1px at top right); //was set at 200px

      .nav-link {
        opacity: 0;
        transform: translateX(100%);
        width: 100%;
        text-align: center;
        a {
          display: block;
          padding: 2rem 0;
        }
      }
      a {
        color: $color-white;
      }
    }

    .menu-btn:checked ~ .nav-links {
      opacity: 1;
      clip-path: circle(100% at center);

      .nav-link {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 0.4s ease-in-out,
          transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &:nth-of-type(1) {
          transition-delay: 0.7s;
        }
        &:nth-of-type(2) {
          transition-delay: 0.8s;
        }
        &:nth-of-type(3) {
          transition-delay: 0.9s;
        }
        &:nth-of-type(4) {
          transition-delay: 1s;
        }
        &:nth-of-type(5) {
          transition-delay: 1.1s;
        }
      }
    }
    .menu-btn:checked ~ .menu-icon {
      border-radius: 50%;
      animation: pulse 1s;
      .menu-icon__line {
        background: $color-white;
        animation: openMid 0.8s forwards;

        &::before {
          background: $color-white;
          animation: openTop 0.8s forwards;
        }
        &::after {
          background: $color-white;
          animation: openBtm 0.8s forwards;
        }
      }
    }
  }
}
