.gallery-wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.gallery-headline {
  margin-bottom: 1.5rem;
  text-align: center;
}

.gallery-images {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 1 1 0;
}

.gallery-image {
  width: 280px;
  margin: 3px;
  transition: all 0.3s;
}

.gallery-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  transition: filter 0.2s;
}

.gallery-images img:hover {
  filter: brightness(115%);
}

// Media Queries  **********************************************************************************

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1020px) {
}

@media only screen and (max-width: 765px) {
}

@media only screen and (max-width: 640px) {
  .gallery-image {
    width: 45%;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .gallery-images {
    display: block;
  }
  .gallery-image {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
