// Background video, darked overlay, and textured overlay  **********************************************************************************
#hero {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  // background: url(placeholder.jpg) no-repeat;
  // background-size: cover;
}

#hero::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(#000000, 0.5);
}

#hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#hero .texture {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../../img/texture.png);
}

// Hero content  **********************************************************************************
.container {
  display: flex;
  flex-flow: column;
  height: 100vh;
  z-index: -5;
  color: $color-white;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cta {
  font-weight: 900;
  font-size: 7vw;
}

.cta-event {
  font-family: $font-cursive;
  color: $color-pink;
  transform: translateY(-8%);
  display: inline-block;
}

.button {
  border: 1px solid #f4f4f4;
  border-radius: 3px;
  font-family: $font-primary;
  color: $color-white;
  text-decoration: none;
  display: block;
  padding: 1rem 2rem;
  margin-top: 1.5rem;
  transition: transform 0.3s;
  // background-color: #ff1476;
}

.button:hover {
  transform: scale(1.05);
}

// Navigation bar  **********************************************************************************
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation {
  display: grid;
  grid-template-columns: 15rem auto;
}

@font-face {
  font-family: font-logo;
  src: url(../../img/AlexBrush-Regular.ttf);
}

.logoText {
  font-family: font-logo;
  font-size: 4rem;
  text-decoration: none;
  color: #f4f4f4;
}

.logoWrap {
  margin-left: 2rem;
  margin-top: 1rem;
  text-decoration: none;
}

.navigation__main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row nowrap;
  list-style: none;
}

.navigation__link {
  text-decoration: none;
  color: $color-white;
  //text-transform: uppercase;
  margin: 2rem 2.5rem 3rem 0;
  display: inline-block;
  transition: all 0.2s;
}

.navigation__link--margin-right {
  margin-right: 3rem;
}

.navigation__link:hover {
  transform: scale(1.1);
  color: #fff;
}

// Hero Text  **********************************************************************************
.cta {
  text-align: center;
}

.main__text {
  font-weight: 900;
  text-align: center;
  font-family: $font-cursive;
  color: #ff1476;
  margin-bottom: 1rem;
  text-shadow: 1px 2px 2px rgba(255, 20, 118, 0.12);
}

.main__text--span {
  color: $color-primary;
}

// Main  **********************************************************************************
.main {
  margin-top: 3rem;
}

// Images  **********************************************************************************
.three-images {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: auto;
  grid-template-areas: 'a   b   c   d';
  gap: 1rem;
  margin-right: 6vw;
  margin-left: 6vw;
  margin-bottom: 3rem;
}

.options-1 {
  grid-area: a;
}

.options-2 {
  grid-area: b;
}

.options-3 {
  grid-area: c;
}

.options-4 {
  grid-area: d;
}

.three-images__div {
  position: relative;
  transition: all 0.3s;
}

.three-images img {
  display: block;
}

.three-images__text--1 {
  position: absolute;
  top: 80%;
  left: 30%;
  font-family: $font-cursive;
  color: #f4f4f4;
  font-size: 4vw;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.three-images__rel--2 {
  // Setting position of "Social" text
  top: 30%;
  left: 8%;
}

.three-images__rel--3 {
  // Setting position of "Corporate" text
  top: 65%;
  left: 10%;
}

.three-images__rel--4 {
  // Setting position of "Birthday" text
  top: 30%;
  left: 20%;
}

.three-images__div:hover {
  z-index: 15;
  transform: scale(1.05);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 1px 2px 2px rgba(0, 0, 0, 0.08),
    2px 4px 4px rgba(0, 0, 0, 0.06), 3px 6px 6px rgba(0, 0, 0, 0.04);
}

.three-images:hover > .three-images__div {
  filter: blur(3px);
}

.three-images:hover > .three-images__div:hover {
  filter: blur(0);
}

// Being Alternating Grid  *************************************************************************

.alternating-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'a   b'
    'c   d'
    'e   f';
  align-items: center;
  margin: 0 6vw;
}

.alternating-grid p {
  color: $color-dark-grey;
}

.vision {
  grid-area: a;
}

.grid-image-1 {
  grid-area: b;
}

.who-are-we {
  grid-area: d;
}

.who-are-we__headline {
  margin-left: -0.5rem;
}

.vision__headline {
  margin-left: -0.5rem;
}

.grid-image-2 {
  grid-area: c;
}

.grid-text {
  margin: 0 6vw;
}

// Reviews  **********************************************************************************

.spacer-reviews {
  height: 7em;
}

.reviews-container {
  grid-area: e;
  position: relative;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  11.11% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  44.44% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.fadein p {
  opacity: 0;
  animation-name: fade;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  position: absolute;
  left: 0;
  right: 0;
}

.fadein p:nth-child(1) {
  animation-delay: 0s;
}
.fadein p:nth-child(2) {
  animation-delay: 7s;
}
.fadein p:nth-child(3) {
  animation-delay: 14s;
}

// Footer  **********************************************************************************

.footer {
  margin: 3rem auto 2rem auto;
}

.footer__logo {
  color: $color-dark-grey;
  font-family: font-logo;
  font-size: 2em;
  line-height: 0.8;
}

.contact,
.address {
  font-family: $font-primary;
  color: $color-dark-grey;
  font-size: 0.7em;
}

.contact-button {
  border-radius: 3px;
  font-family: $font-primary;
  color: $color-white;
  text-decoration: none;
  display: block;
  width: 7.5em;
  padding: 1rem 2rem;
  margin: auto;
  transition: all 0.3s;
  background-color: $color-pink;
  text-align: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 1px 2px 2px rgba(0, 0, 0, 0.1),
    2px 4px 4px rgba(0, 0, 0, 0.08);
}

.contact-button:hover {
  transform: scale(1.05);
  backface-visibility: hidden;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 1px 2px 2px rgba(0, 0, 0, 0.08),
    2px 4px 4px rgba(0, 0, 0, 0.06), 3px 6px 6px rgba(0, 0, 0, 0.04);
}

.footer__tagline {
  font-size: 3em;
  text-align: center;
  margin: 0 auto 1rem auto;
}

.footer__address {
  text-align: center;
  margin-top: 3rem;
}

// Media Queries  **********************************************************************************

@media only screen and (max-width: 1280px) {
  .alternating-grid {
    margin: 0 4vw;
  }
  .grid-text {
    margin: 0 4vw;
  }

  a {
    font-size: 0.7em;
  }

  .navigation__link {
    margin: 2.5rem 2.5rem 3rem 0;
  }
  .three-images {
    margin-right: 5vw;
    margin-left: 5vw;
    gap: 0.5rem;
  }
}

@media only screen and (max-width: 1020px) {
  .three-images {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'a b'
      'c d';
    margin-right: 6vw;
    margin-left: 6vw;
    margin-bottom: 1rem;
  }

  .three-images__text--1 {
    font-size: 7vw;
  }

  .alternating-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      'a'
      'b'
      'd'
      'c'
      'e';
  }

  .spacer-reviews {
    height: 3.5em;
  }

  a {
    font-size: 0.8em;
  }

  .navigation__link {
    margin: 0 1.3rem;
  }

  .who-are-we__headline {
    margin-left: 0;
  }

  .vision__headline {
    margin-left: 0;
  }
  .grid-text {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .who-are-we__headline {
    margin-left: 0;
  }

  .vision__headline {
    margin-left: 0;
  }

  .grid-text {
    margin-left: 0;
  }
}

@media only screen and (max-width: 765px) {
  .navigation__link {
    margin: 0 0.9rem;
  }

  .footer__tagline {
    font-size: 8vw;
  }

  .main__text {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 640px) {
  .three-images {
    margin-right: 2vw;
    margin-left: 2vw;
  }

  .button {
    margin-top: 3rem;
    padding: 0.8rem 1.6rem;
  }

  .spacer-reviews {
    height: 5em;
  }
}

@media only screen and (max-width: 480px) {
  .three-images {
    grid-template-columns: 1fr;
    grid-template-areas:
      'a'
      'b'
      'c'
      'd';
    margin: 0;
    gap: 0rem;
  }

  .grid-text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .alternating-grid {
    margin: 0;
  }

  .three-images__text--1 {
    font-size: 15vw;
  }

  .main__text {
    font-size: 10vw;
  }

  .spacer-reviews {
    height: 7em;
  }

  .cta {
    font-size: 8vw;
  }
}

// I'm having to do so many media queries to the fact that the info in this grid is absolutely positioned and so doesn't count toward the height of the box

@media only screen and (max-width: 390px) {
  .spacer-reviews {
    height: 7.5em;
  }
}

@media only screen and (max-width: 350px) {
  .spacer-reviews {
    height: 8.5em;
  }
}
