// Background video, darked overlay, and textured overlay  **********************************************************************************
#hero {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  // background: url(placeholder.jpg) no-repeat;
  // background-size: cover;
}

#hero::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(#000000, 0.5);
}

#hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#hero .texture {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../../img/texture.png);
}

.spacer {
  height: 500px;
}

// Hero content  **********************************************************************************
.container {
  display: flex;
  flex-flow: column;
  height: 100vh;
  z-index: -5;
  color: $color-white;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cta {
  font-weight: 900;
  font-size: 7vw;
}

.cta-event {
  color: $color-blue;
}

.button {
  border: 1px solid #f4f4f4;
  border-radius: 3px;
  font-family: $font-primary;
  color: $color-white;
  text-decoration: none;
  display: block;
  padding: 1rem 2rem;
  margin-top: 2rem;
  transition: transform 0.3s;
  // background-color: #ff1476;
}

.button:hover {
  transform: scale(1.05);
}

// Navigation bar  **********************************************************************************
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation {
  display: grid;
  grid-template-columns: 15rem auto;
}

@font-face {
  font-family: font-logo;
  src: url(../../img/AlexBrush-Regular.ttf);
}

.logoText {
  font-family: font-logo;
  font-size: 4rem;
  text-decoration: none;
  color: #f4f4f4;
}

.logoWrap {
  margin-left: 2rem;
  margin-top: 1rem;
  text-decoration: none;
}

.navigation__main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row nowrap;
  list-style: none;
}

.navigation__link {
  text-decoration: none;
  color: $color-white;
  //text-transform: uppercase;
  margin: 2rem 2.5rem 3rem 0;
  display: inline-block;
  transition: all 0.2s;
}

.navigation__link--margin-right {
  margin-right: 3rem;
}

.navigation__link:hover {
  transform: scale(1.1);
  color: #fff;
}

// Hero Text  **********************************************************************************
.cta {
  text-align: center;
}

// Main  **********************************************************************************
.main {
  margin-top: 2rem;
}

.main__text {
  font-weight: 900;
  text-align: center;
  font-family: $font-cursive;
  color: #ff1476;
  margin-bottom: 2rem;
}

.expertise {
  font-family: $font-primary;
  text-transform: uppercase;
  color: #000;
}

// Images  **********************************************************************************
.three-images {
  display: flex;
  margin-right: 6vw;
  margin-left: 6vw;
}

.three-images > *:not(:last-child) {
  margin-right: 2rem;
}

.three-images img {
  display: block;
  width: 100%;
  // border-radius: 6px;
}

.three-images__div {
  // Correcting scaling of flex items
  flex: 1 1 0;
  position: relative;
  //
  transition: all 0.3s;
}

.three-images__text--1 {
  position: absolute;
  top: 82%;
  left: 36%;
  font-family: $font-cursive;
  color: #f4f4f4;
  font-size: 5vw;
}

.three-images__rel--2 {
  // Setting position of "Social" text
  top: 30%;
  left: 8%;
}

.three-images__rel--3 {
  // Setting position of "Corporate" text
  top: 65%;
  left: 10%;
}

.three-images__div:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.three-images:hover > .three-images__div {
  filter: blur(3px);
}

.three-images:hover > .three-images__div:hover {
  filter: blur(0);
}

// Being Alternating Grid  *************************************************************************

.alternating-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'a   b'
    'c   d';
  align-items: center;
  margin: 0 6vw;
  // gap: 1rem;
}

.alternating-grid p {
  color: $color-dark-grey;
}

.vision {
  grid-area: a;
}

.grid-image-1 {
  grid-area: b;
}

.who-are-we {
  grid-area: d;
}

.who-are-we__headline {
  margin-left: -0.5rem;
}

.vision__headline {
  margin-left: -0.5rem;
}

.grid-image-2 {
  grid-area: c;
}

.grid-text {
  margin: 0 6vw;
}

.spacer {
  height: 400px;
}

// Footer  **********************************************************************************

.footer {
  margin: 0 auto 2rem auto;
  margin-bottom: 2rem;
}

.footer__logo {
  color: $color-dark-grey;
  font-family: font-logo;
  font-size: 2em;
  line-height: 0.8;
}

.contact,
.address {
  font-family: $font-primary;
  color: $color-dark-grey;
  font-size: 0.7em;
}

.contact-button {
  border-radius: 3px;
  font-family: $font-primary;
  color: $color-white;
  text-decoration: none;
  display: block;
  width: 7.5em;
  padding: 1rem 2rem;
  margin: auto;
  transition: transform 0.3s;
  background-color: $color-pink;
  text-align: center;
}

.contact-button:hover {
  transform: scale(1.05);
}

.footer__tagline {
  font-size: 3em;
  text-align: center;
  margin: 0 auto 1rem auto;
}

.footer__address {
  text-align: center;
  margin-top: 3rem;
}

// Media Queries  **********************************************************************************

@media only screen and (max-width: 1280px) {
  .three-images {
    margin-right: 4vw;
    margin-left: 4vw;
  }

  .alternating-grid {
    margin: 0 4vw;
  }
  .grid-text {
    margin: 0 4vw;
  }

  a {
    font-size: 0.7em;
  }

  .navigation__link {
    margin: 2.5rem 2.5rem 3rem 0;
  }
}

@media only screen and (max-width: 1020px) {
  .alternating-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      'a'
      'b'
      'd'
      'c';
  }

  a {
    font-size: 0.8em;
  }

  .navigation__link {
    margin: 0 1.3rem;
  }

  .who-are-we__headline {
    margin-left: 0;
  }

  .vision__headline {
    margin-left: 0;
  }
  .grid-text {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .who-are-we__headline {
    margin-left: 0;
  }

  .vision__headline {
    margin-left: 0;
  }

  .grid-text {
    margin-left: 0;
  }
  .three-images > *:not(:last-child) {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 765px) {
  .navigation__link {
    margin: 0 0.9rem;
  }
  .three-images {
    flex-flow: column;
  }
  .three-images__text--1 {
    font-size: 15vw;
  }
  .three-images > *:not(:last-child) {
    margin-right: 0;
  }
  .footer__tagline {
    font-size: 8vw;
  }
}

@media only screen and (max-width: 640px) {
  .three-images {
    margin-right: 0;
    margin-left: 0;
  }
}

@media only screen and (max-width: 480px) {
  .three-images {
    margin-right: 0;
    margin-left: 0;
  }
}
